In [165]:
import pandas as pd
import json
import datetime, time
import boto
import boto.s3
import sys
from boto.s3.key import Key
import glob
import boto3
import botocore
import csv

In [166]:
ts = time.time()
st = datetime.datetime.fromtimestamp(ts).strftime('%d%m%y%M%S')
st1 = datetime.datetime.fromtimestamp(ts).strftime('%d%m%y')

In [172]:
# Create logfile.
logfile = open(st+".txt", "a")
def log_entry(s):
    #print('Date now: %s' % datetime.datetime.now())

    timestamp = '[%s] : ' % datetime.datetime.now()
    log_line = timestamp + s + '\n'
    logfile.write(log_line)
    logfile.flush()

In [173]:
with open('config.json') as data_file:    
    configdata = json.load(data_file)
#log_entry("Link from config file: "+configdata["link"])
#print(configdata["link"])
datadf=pd.read_csv(configdata["link1"], sep=',', error_bad_lines=False, index_col=False, dtype='unicode')

In [174]:
filename=configdata["state"]+"_"+st1+"_"+configdata["StationId"]
datadf.to_csv(filename+".csv")
log_entry(filename+".csv has been created.")

In [ ]:
for counter in range(1,10):
    datadf=pd.read_csv(configdata["link"+str(counter)], sep=',', error_bad_lines=False, index_col=False, dtype='unicode')
    datadf['DATE'] = pd.to_datetime(datadf['DATE'])
    least_recent_date = datadf['DATE'].min()
    recent_date = datadf['DATE'].max()

In [170]:
AWS_ACCESS_KEY_ID = configdata["AWSAccess"]
print(AWS_ACCESS_KEY_ID)
AWS_SECRET_ACCESS_KEY = configdata["AWSSecret"]
print(AWS_SECRET_ACCESS_KEY)
TeamNumber=configdata["team"]

bucket_name = str(TeamNumber) + configdata["state"].lower() + 'assignment1'
log_entry("S3 bucket has been successfully created.")
conn = boto.connect_s3(AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY)
bucket = conn.create_bucket(bucket_name, location=boto.s3.connection.Location.DEFAULT)

s3 = boto3.resource('s3', aws_access_key_id=AWS_ACCESS_KEY_ID, aws_secret_access_key=AWS_SECRET_ACCESS_KEY)
file = filename+".csv"
exists = False

try:
    s3.Object(bucket_name, file).load()
except botocore.exceptions.ClientError as e:
    if e.response['Error']['Code'] == "404":
        exists = False
    else:
        raise
else:
    exists = True

if exists==False:
    print ('Uploading %s to Amazon S3 bucket %s' % (file, bucket_name))
    def percent_cb(complete, total):
        sys.stdout.write('.')
        sys.stdout.flush()
    k = Key(bucket)
    k.key = file
    k.set_contents_from_filename(file, cb=percent_cb, num_cb=10)
    log_entry(file+" has been uploaded to "+bucket_name)
    print("File uploaded.")
    
elif exists==True:
    print("File already exists.")
    log_entry("File already exists.")

AKIAIW6ZELHRP2BGDL5Q
2yW6bkoVORaU1N2t2aDS6nMpMeYOHidMIi5GHWRe
File already exists.

In [171]:
datadf[:5]

,STATION,STATION_NAME,ELEVATION,LATITUDE,LONGITUDE,DATE,REPORTTPYE,HOURLYSKYCONDITIONS,HOURLYVISIBILITY,HOURLYPRSENTWEATHERTYPE,...,MonthlyMaxSeaLevelPressureTime,MonthlyMinSeaLevelPressureValue,MonthlyMinSeaLevelPressureDate,MonthlyMinSeaLevelPressureTime,MonthlyTotalHeatingDegreeDays,MonthlyTotalCoolingDegreeDays,MonthlyDeptFromNormalHeatingDD,MonthlyDeptFromNormalCoolingDD,MonthlyTotalSeasonToDateHeatingDD,MonthlyTotalSeasonToDateCoolingDD
0,WBAN:12832,APALACHICOLA AIRPORT FL US,5.8,29.73333,-85.03333,2008-01-01 00:18,FM-16,BKN:07 15,10.00,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
1,WBAN:12832,APALACHICOLA AIRPORT FL US,5.8,29.73333,-85.03333,2008-01-01 00:46,FM-16,FEW:02 17 SCT:04 25 BKN:07 60,10.00,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
2,WBAN:12832,APALACHICOLA AIRPORT FL US,5.8,29.73333,-85.03333,2008-01-01 00:53,FM-15,FEW:02 25 SCT:04 60,10.00,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
3,WBAN:12832,APALACHICOLA AIRPORT FL US,5.8,29.73333,-85.03333,2008-01-01 01:00,FM-12,NaN,9.94,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN
4,WBAN:12832,APALACHICOLA AIRPORT FL US,5.8,29.73333,-85.03333,2008-01-01 01:53,FM-15,NaN,10.00,NaN,...,-9999,NaN,-9999,-9999,NaN,NaN,NaN,NaN,NaN,NaN